[Unit]
Description=Key9 API Client Logging Proxy
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/opt/k9/bin/k9-client-logging-proxy
Restart=always
RestartSec=10
TimeoutStopSec=90
KillMode=process

OOMScoreAdjust=-900
SyslogIdentifier=k9-client-logging-proxy

[Install]
WantedBy=multi-user.target
